.platform_section{
    background: linear-gradient(180deg, #0D0220 0%, #1F0649 100%);
    padding-top: 84px;
    padding-bottom: 54px;
}

.blog_card{
    border-radius: 10px;
    border: 1px solid var(--blog-card-stroke);
    /* background-color: var(--section-blue-color); */
    min-width: 340px;
}
.blog_card > img{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;  
}

.blog_content{
    padding: 16px 16px 24px;
}

/* .blog_content h5{
    color: var(--pure-white);
} */

/* .blog_content p {
    color: var(--off-white);
} */

.artical_badge{
    border-radius: 8px;
    border: 0.5px solid #46426E;
    backdrop-filter: blur(17.5px);
    /* color: var(--pure-white); */
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    height: 28px;
    padding: 0px 24px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
}

.blog_date{
    /* color: var(--pure-white); */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
