@keyframes textIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes textOut {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.hero_section {
  position: relative;
  background: linear-gradient(
    to bottom,
    var(--secondry-color) 70%,
    #fcfbff 30%
  );
  margin-top: -82px;
  padding-top: 160px;
  padding-bottom: 70px;
  width: 100%;
  top: 0;
}

.hero_section::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 80%; /* Adjust size as needed */
  height: 30%;
  opacity: 0.7;
  background: linear-gradient(98deg, #9746b7 11.05%, #6b36f2 56.31%);
  filter: blur(126.70392608642578px);
  pointer-events: none; /* So that it doesn't interfere with interactions */
  z-index: 0;
}

.content_section {
  padding-inline: 20px;
  position: relative;
  z-index: 12;
}

.hero_section_heading {
  color: var(--Text-Color-50, #fff);
  text-align: center;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 59px; /* 140.476% */
}

.hero_h2 {
  color: var(--Neutral-1, #fff);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 188.889% */
}

.animate_text_wrapper {
  display: inline-block;
  overflow: hidden;
  height: 80px;
}

.transform_text {
  display: inline-block;
  position: relative;
  height: 80px;
  top: 0;
  white-space: no-wrap;
  animation-direction: alternate;
  animation: textanimate 3s ease-in-out;
}

.hero_text {
  color: var(--Neutral-1, #fff);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 188.889% */
}

.hero_text_highlight {
  color: var(--Text-Color-50, #fff);
  background: var(--blue-purple-500, #602edf);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 188.889% */
  text-decoration-line: underline;
}

.animate-text {
  overflow: hidden;
}

.animate-text span {
  line-height: 80px;
  display: inline-block;
  display: none;
  color: var(--primary-color);
}

.animate-text span.text-in {
  display: inline-block;
  animation: textIn 0.5s ease;
}

.animate-text span.text-out {
  animation: textOut 0.5s ease;
}
