@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-montserrat: "Montserrat", "Arial", "Helvetica", sans-serif;
  --primary-color: #602edf;
  --secondry-color: #0d0220;
  --off-white: #f6f6f6;
  --stroke-card: #a6bcda;
  --black: #242323;
  --white: #fdfdff;
  --black-v2: #222222;
  --support-white: #f8fafc;
  --stroke-cardv2: #c3d0e2;
  --dark-blue: #0f172a;
  --blog-card-stroke: rgba(166, 188, 218, 0.4);
  --section-blue-color: #1c0643;
  --pure-white: #ffffff;
  --border-gradient-purple: linear-gradient(
    123deg,
    #c266e7 42.91%,
    #602edf 100.75%
  );
  --G1: linear-gradient(123deg, #c266e7 42.91%, #602edf 100.75%);
  --button-hover: #020305;
  --text-hover: #444444;
  /* --black:"#222222" */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-montserrat) !important;
  background: var(--white);
  color: var(--black-v2);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.container {
  width: calc(100vw - 100px);
  margin: 0 auto;
}

.home_page_container {
  display: flex;
  padding: 24px 50px 70px 50px;
  background: linear-gradient(180deg, #fcfbff 0%, #f1f1ff 100%);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.home_page_heading {
  color: var(--Text-Color-850, #222);
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 188.235% */
}

.home_page_heading_tag {
  display: flex;
  height: 40px;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  position: relative;
  width: max-content;
  /* typography */
  color: var(--black-v2);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.home_page_heading_tag::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px; /*1*/
  border: 1px solid transparent; /*2*/
  background: var(--border-gradient-purple) border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}

.cc_card {
  padding: 38px 16px;
  border-radius: 20px;
  border: 0.5px solid var(--stroke-card);
  background: var(--white);
  /* width: 100%; */
  /* width: 100%; */
  /* height: 262px; */
}

.cc_card_heading {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

h1 {
  text-align: center;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 59px; /* 140.476% */
}

h2 {
  color: var(--Text-Color-900, #171717);
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

h3 {
  color: #1c1c1c;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 50.2px;
}

h4 {
  color: #1c1c1c;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

h5 {
  color: #1c1c1c;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading_24 {
  color: var(--Text-Color-900, #171717);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 16px;
}

.font-18 {
  color: var(--Text-Color-900, #171717);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 188.889% */
}

.text-white {
  color: var(--pure-white) !important;
}

.section_subheading {
  color: var(--Text-Color-700, #444);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  margin-bottom: 40px;
  margin-top: 18px;
}

/* buttons */

.button {
  display: flex;
  width: max-content;
  height: 44px;
  border-radius: 10px;
  padding: 2px 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--support-white);
  overflow: hidden;
}

.button_white {
  background-color: var(--off-white);
  color: var(--black-v2);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button:hover {
  background: linear-gradient(var(--button-hover), var(--button-hover))
      padding-box,
    var(--G1) border-box;
  border: 1px solid transparent;
  color: var(--white);
}

.link_button {
  color: var(--black-v2);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  transition: all 0.3s;
}

.link_button_primary {
  color: var(--primary-color);
}

.link_button .icon {
  transition: all 0.3s;
  transform: rotateZ(-45deg);
}
.button_section {
  width: max-content;
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 12px;
  border-radius: 30px;
  padding: 5px 6px;
}

.round_button_selected {
  background: #f0f0ff !important;
  height: 50px;
  border-radius: 40px;
  display: flex;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  position: relative;
  width: max-content;
  /* typography */
  color: var(--black-v2);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 6px;
}
.round_button_selected::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 40px; /*1*/
  border: 1px solid transparent; /*2*/
  background: var(--border-gradient-purple) border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}
.link_button:hover .icon {
  transform: translateX(6px) rotateZ(-45deg);
}

.round_button {
  display: flex;
  height: 50px;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 40px;
  color: var(--black-v2);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 6px;
  &:hover {
    background-color: #f0f0ff;
  }
}
.outline_button {
  display: flex;
  height: 50px;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 40px;
  border: 1px solid var(--Text-Color-400, #8e8e8e);
  background: #13042d;
  color: var(--Text-Color-100, #f8f8f8);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mb-120 {
  margin-bottom: 120px;
}

/* buttons end */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.small_container {
  width: 900px;
  margin: 90px auto;
}

.text-primary {
  color: var(--primary-color);
}

.mb-50 {
  margin-bottom: 50px;
}

.borderLine {
  border-top: 1px solid var(--stroke-card);
}

.hero_background {
  background: #0d0220;
  height: 830px;
  position: absolute;
  top: 0;
}

.mt-120 {
  margin-top: 120px;
}

.product_page_name {
  color: #fff;
  text-align: center;
  margin: 0 auto 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  /* border: 1px solid var(--G1, #C266E7); */
  background: linear-gradient(var(--button-hover), var(--button-hover))
      padding-box,
    var(--G1) border-box;
  border: 1px solid transparent;

  /* background: #0D0220; */
  display: inline-block;
  padding: 4px 18px;
  text-align: center;
}

.accordian {
  /* display: flex; */
  padding: 15px 16px 13px 16px;
  /* justify-content: space-between; */
  /* align-items: center; */
  border-radius: 8px;
  border: 0.5px solid var(--Stroke, #a6bcda);
  background: var(--Support, #f8fafc);
}

.accordian_open {
  border-radius: 8px;
  border: 1px solid var(--G1, #c266e7);
  background: #fdfdff;
  box-shadow: 0px 3px 4.7px 0px rgba(199, 199, 199, 0.25);
}

.accordian_content {
  margin-top: 20px;
  /* display: none; */
}

.accordian_content_show {
  display: block;
}

.card_v2 {
  border-radius: 10px;
  border: 1px solid var(--stroke-cardv2);
  background: var(--white);
}
.card_v2_with_hover {
  border-radius: 10px;
  border: 1px solid var(--stroke-cardv2);
  background: var(--white);
  &:hover {
    border: 1px solid var(--G1, #c266e7);
    /* DP for website */
    box-shadow: 0px 20.039px 40.078px -9.619px rgba(0, 0, 0, 0.25),
      0px 0px 12.024px 0px rgba(0, 0, 0, 0.07);
  }
}
.card_v2_text {
  color: var(--dark-blue);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.dark_bg {
  background: linear-gradient(180deg, #0d0220 0%, #1f0649 100%);
  padding-top: 84px;
  padding-bottom: 54px;
}

.dark_card {
  border-radius: 10px;
  border: 1px solid var(--blog-card-stroke);
  background-color: var(--section-blue-color);
}

.card_v2_thin_border {
  border-radius: 20px;
  border: 0.5px solid var(--stroke-cardv2);
  background: var(--white);
  margin-bottom: 30px;
}

.font-14 {
  font-size: 14px;
}

/* new css */
.dark_bg_hero {
  margin-top: -86px;
  background-color: var(--secondry-color);
  padding-bottom: 100px;
  padding-top: 160px;
}

.hero_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.mb-24 {
  margin-bottom: 1.5rem !important;
}

.section {
  background: linear-gradient(180deg, #fcfbff 0%, #f1f1ff 100%);
  padding-top: 24px;
  padding-bottom: 70px;
  margin-bottom: 70px;
}

.section_heading_container {
  margin-inline: auto;
  margin-bottom: 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card_hover {
  border: 1px solid var(--G1, #c266e7);
  /* DP for website */
  box-shadow: 0px 20.039px 40.078px -9.619px rgba(0, 0, 0, 0.25),
    0px 0px 12.024px 0px rgba(0, 0, 0, 0.07);
}

.heading_highlighter {
  background: var(
    --G1,
    linear-gradient(123deg, #c266e7 42.91%, #602edf 100.75%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 60.2px;
}
