.platform_section{
    background: linear-gradient(180deg, #0D0220 0%, #1F0649 100%);
    padding-top: 84px;
    padding-bottom: 54px;
}

.platform_feature_list{
    margin-bottom: 24px;
    color: var(--off-white)
}

.platform_feature_list > li {
    margin-bottom: 18px;
    line-height: 24px;
}

.button_section{
    width: 520px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 40px;
    margin-bottom: 40px;
}

.button_section > button:hover {
   background: linear-gradient(var(--button-hover), var(--button-hover)) padding-box,
    var(--G1) border-box;
  border: 1px solid transparent;
  color: var(--white);
}