.platform_section {
  background: linear-gradient(180deg, #0d0220 0%, #1f0649 100%);
  padding-top: 84px;
  padding-bottom: 54px;
}

.platform_build_box_container {
  display: flex;
  border-radius: 10px;
  border: 1px solid rgba(166, 188, 218, 0.3);
  background: #fdfdff;
}
