@keyframes textIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes textOut {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.hero_section_home {
  position: relative;
  background: var(--secondry-color) 65%;
  padding-top: 180px;
  padding-bottom: 70px;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 70px;
  @media screen and (max-width: 600px) {
    margin-bottom: 24px;
    padding-top: 160px;
    padding-bottom: 12px;
  }
}

.content_section {
  padding-inline: 20px;
  position: relative;
  z-index: 12;
}

.hero_h2_home_page {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 260% */
  background: linear-gradient(270deg, #602edf -46.59%, #c266e7 97.9%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media screen and (max-width: 600px) {
    font-size: 28px;
    line-height: 35px;
  }
}

.animate_text_wrapper {
  display: inline-block;
  overflow: hidden;
  height: 80px;
}

.transform_text {
  display: inline-block;
  position: relative;
  height: 80px;
  top: 0;
  white-space: no-wrap;
  animation-direction: alternate;
  animation: textanimate 3s ease-in-out;
}

.hero_text {
  color: var(--Neutral-1, #fff);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 188.889% */
  width: 67%;
  @media screen and (max-width: 600px) {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
  }
}

.hero_text_highlight {
  color: var(--Text-Color-50, #fff) !important;
  background: var(--blue-purple-500, #602edf);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 188.889% */
  text-decoration-line: underline;
  @media screen and (max-width: 600px) {
    font-weight: 400;
  }
}

.animate-text {
  overflow: hidden;
}

.animate-text span {
  line-height: 80px;
  display: inline-block;
  display: none;
  color: var(--primary-color);
}

.animate-text span.text-in {
  display: inline-block;
  animation: textIn 0.5s ease;
}

.animate-text span.text-out {
  animation: textOut 0.5s ease;
}
