/*  */

.header{
    position: sticky;
    top: 24px;
    width: 90%;
    margin: 0 auto 0;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    border: 1px solid var(--Stroke, #A6BCDA);
    background: rgba(253, 253, 255, 0.90);
    box-shadow: 3px 25px 50px -12px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    padding:16px 18px;
    z-index: 13131313131313;
}

.request_button > button{
    background: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 12px 24px -6px rgba(45, 32, 17, 0.30), 0px 4px 8px 0px rgba(45, 32, 17, 0.20), 0px 1.5px 3px 0px rgba(45, 32, 17, 0.20), 0px 1px 1px 0px rgba(45, 32, 17, 0.12);
    display: flex;
    width: 181px;
    height: 50px;
    padding: 9px 12px 9px 18px;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
    flex-shrink: 0;
    color: var(--support-white);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px; 
    position: relative;
}



.header_button_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 8px 9px;
    flex-shrink: 0;
    border-radius: 9px;
    background: #FDFDFF;
    color: var(--primary-color);
    transition: all .5s;

}

/* .request_button > button:hover .header_button_icon{
    background-color: #5b5b5b;
} */
    /* position: absolute;
    width: 100%;
    margin:0  12px;

    left: 0; 
    right: 0;
    width: 100%;
    left: 0;
    background-color: black;
} */

.nav_links{
    color: var(--Text-Color-900, #171717);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.subMenu{
    position: absolute;
    top: 2rem;
    background: var(--white);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    min-width: 620px;
    border: 1px solid var(--stroke-cardv2);
}

.subMenu_link_wrapper{
    margin-bottom: 20px;
    border: 1px solid var(--white);
    border-radius: 10px;
    transition: all .3s;
    padding: 10px;
    color: var(--black);
}

.subMenu_link_wrapper:hover{
    border: 1px solid var(--primary-color);
}

.subMenu_link_wrapper h5{
    font-size: 16px;
    text-align: left;
}