.vedio_container_parent{
    width: 1149px;
    margin: 0 auto;
}

.vedio_container{
    border-radius: 30px;
    border: 4px solid var(--Stroke, #A6BCDA);
    background: #FDFDFF;
    box-shadow: 0px 8.194px 12.29px 6.145px rgba(205, 206, 255, 0.23);
    width: 1149px;
    height: 566px;
    margin: 0 auto;
    position: relative; 
    z-index: 1111;
}

.container_gradient{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    height: 324px;
    background: linear-gradient(98deg, #9746B7 11.05%, #6B36F2 56.31%);
    filter: blur(126px);
    z-index: 0;

}
